<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
	integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
	crossorigin="anonymous" />
<!-- ACA IBA EL CSS DE STATIC SIMPLE -->
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<title>Chat</title>
</head>
<body>
	<div class="chat-container">
		<header class="chat-header">
			<h1>
				<i class="fas fa-smile"></i> ChatRooms
			</h1>
			<a th:href="@{index}" class="btn">Leave Room</a>
		</header>
		<main class="chat-main">
			<div class="chat-sidebar">
				<h3>
					<i class="fas fa-comments"></i> Room Name:
				</h3>
				<h2 th:text="${room}" id="room-name"></h2>
				<div hidden="true" id="username" th:text="${username}"></div>
				<h3>
					<i class="fas fa-users"></i> Users
				</h3>
				<ul id="users">
				</ul>
			</div>
			<div class="chat-messages">					
			</div>
		</main>
		<div class="chat-form-container">
			<form id="chat-form">
				<input id="msg" type="text" placeholder="Enter Message" required
					autocomplete="off" />
				<button id="send" class="btn">
					<i class="fas fa-paper-plane"></i> Send
				</button>
			</form>
		</div>
	</div>
	<script th:src="@{/js/main.js}"></script>
	<!--  <script src="js/main.js"></script> -->
</body>
</html>